*{
  font-family: sans-serif;
}
body{
  margin: 2px;
  border: 2px solid black;
  min-width: 1200px;
}
#content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 980px;
  margin: auto;
}

#content>div{
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid black;
  padding: 20px 0;
  margin: 10px 0;
}
#page{
  border: none !important;
  padding: 5px !important;
}
#header{
  padding: 25px !important;
}

.into-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.into-content>div{
  width: 33%;
  margin: 15px;
  padding: 180px 0;
  border: 3px dashed black;
  height: 2em;
}

.into-content>div:last-child{
  border-right: none !important;
}

.dynamic-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.dynamic-content>div{
  width: 48%;
  padding: 150px 0;
  margin: 15px 0;
  border: 3px dashed black;
}

.container>div:first-child{
  padding-top: 10px;
}
#bg-gray{
  background: rgba(180,180,180,1);
  background: -moz-linear-gradient(top, rgba(180,180,180,1) 0%, rgba(252,252,252,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(180,180,180,1)), color-stop(100%, rgba(252,252,252,1)));
  background: -webkit-linear-gradient(top, rgba(180,180,180,1) 0%, rgba(252,252,252,1) 100%);
  background: -o-linear-gradient(top, rgba(180,180,180,1) 0%, rgba(252,252,252,1) 100%);
  background: -ms-linear-gradient(top, rgba(180,180,180,1) 0%, rgba(252,252,252,1) 100%);
  background: linear-gradient(to bottom, rgba(180,180,180,1) 0%, rgba(252,252,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b4b4', endColorstr='#fcfcfc', GradientType=0 );
}
p{
  width: 70px;
  margin: auto;
  text-align: center;
}
